<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
      <%= link_to 'Preview', "#collapse#{activity.id}", data: {toggle: 'collapse', parent: '#accordion'} %>
    </h4>
  </div>

  <div id="collapse<%= activity.id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <p><b>From</b> <%= activity.from %></p>

      <p><b>To</b> <%= activity.to %></p>

      <p><b>Subject</b> <%= activity.subject %></p>

      <p><b>CC</b> <%= activity.cc %></p>

      <p><b>BCC</b> <%= activity.bcc %></p>
    </div>

    <iframe class="maily_preview" src="<%= activity_path(activity, preview_only: true) %>" frameborder="1" height="400" width="100%"></iframe>

  </div>
</div>

