<li id="activity_<%= activity.id %>">
  <%= activity.name %>
  <%= link_to "Preview Expand", 'javascript:;', class: "toggle" %> |
  <%= link_to "Edit", edit_activity_path(activity) %> |
  <%= link_to "Destroy", activity, method: :delete, remote: true %>

  <div class="inner">
    <header>
      From <%= activity.from %> |
      To <%= activity.to %> |
      Subject <%= activity.subject %> |
      CC <%= activity.cc %> |
      BCC <%= activity.bcc %> |
    </header>
    <iframe class="maily_preview" src="<%= activity_path(activity) %>" frameborder="1" height="400" width="100%"></iframe>
  </div>

</li>

<script>
    $('.toggle').on('click', function () {
        var _link = $(this)
        $(this).nextUntil(".toggle").filter('.inner').slideToggle(450, function () {
            if (_link.nextUntil('.toggle').filter('.inner').is(':visible')) {
                _link.text('Preview Collapse')
            } else {
                _link.text('Preview Expand')
            }
        });
    })
</script>