<li id="activity_<%= activity.id %> ">
  <%= activity.name %>
  <%= link_to "Preview Expand", 'javascript:;', class: "toggle" %> |
  <%= link_to "Edit", edit_activity_path(activity) %> |
  <%= link_to "Destroy", activity, method: :delete, remote: true %>

  <div class="inner">
    <header>
      From <%= activity.from %> |
      To <%= activity.to %> |
      Subject <%= activity.subject %> |
      CC <%= activity.cc %> |
      BCC <%= activity.bcc %> |
    </header>
    <iframe class="maily_preview" onload='javascript:resizeIframe(this);' src="<%= activity_path(activity) %>" frameborder="1" height="400" width="100%"></iframe>
  </div>

</li>

<script>
    $('.toggle').click(function (e) {
        $(".inner").hide(350);
        var $this = $(this);
        var inner = $this.parent().find(".inner")
        if (inner.is(':visible')) {
            jQuery(this).text('Preview Expand');
        } else {
            jQuery(this).text('Preview Collapse');
        }
        inner.slideToggle(350);
        return false;
    });
</script>