<div class="row">
  <%= form_for @activity, :html => {class: 'form-horizontal'} do |f| %>
      <%= render 'message_broker/shared/error_messages', object: @activity %>

      <div class="form-group">
        <%= f.label :name, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control col-sm-10', placeholder: 'Activity Name' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :subject, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :subject, class: 'form-control col-sm-10', placeholder: 'Email Subject' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :template, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_area :template, class: 'form-control col-sm-10', placeholder: 'Email Content HTML Preferred' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :from, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :from, class: 'form-control col-sm-10', placeholder: 'Sender Email' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :to, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :to, class: 'form-control col-sm-10', placeholder: 'Receiver Email(s)' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :cc, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :cc, class: 'form-control col-sm-10', placeholder: 'CC To - Email(s)' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :bcc, class: 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :bcc, class: 'form-control col-sm-10', placeholder: 'BCC To - Email(s)' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2">
          <%= f.submit class: 'btn btn-large btn-success' %>
          <%= link_to 'Back', activities_path, class: 'btn btn-large btn-success' %>
        </div>
      </div>
  <% end %>
</div>



