<p id="notice"><%= notice %></p>

<h4>Activities</h4>

<table class="w3-table w3-bordered w3-striped w3-card-4" >
  <thead>
    <tr class="w3-blue">
      <th>Mailer Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_material_icon_to(activity, 'lightbulb_outline') %></td>
        <td><%= link_material_icon_to(edit_activity_path(activity), 'edit') %></td>
        <td><%= link_to "#{content_tag :i, 'delete_forever', class: 'material-icons w3-xxlarge'}".html_safe, activity,
                        method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
