<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>

<div class="w3-card-4" style="width:50%; margin-left: center">

  <div class="w3-light-grey w3-border">
    <ul>
      <li><b>Subject</b> <%= @email.subject.present? ? @email.subject : 'Not Available' %></li>
      <li><b>From</b> <%= @email.from.present? ? @email.from.join(', ') : 'Not Available' %></li>
      <li><b>To</b> <%= @email.to.present? ? @email.to.join(', ') : 'Not Available' %></li>
      <li><b>Cc</b> <%= @email.cc.present? ? @email.cc.join(', ') : 'Not Available' %></li>
      <li><b>Bcc</b> <%= @email.bcc.present? ? @email.bcc.join(', ') : 'Not Available' %></li>
    </ul>
  </div>

  <%== @activity.template_text %>

</div>


<div class="mb_mail_preview">
</div>

