<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :target %><br>
    <%= f.select :target, model_list, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.select :event, []%>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br>
    <%= f.select :activity_id, MessageBroker::Activity.all.collect {|activity| [ activity.name, activity.id ] },
                 { include_blank: false } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>

    $(document).ready(function() {
        return $("#rule_target").on("change", function() {
            return $.ajax({
                url: "<%= rules_get_events_url %>",
                type: "GET",
                dataType: "script",
                data: {
                    ar_classname: $('#rule_target option:selected').val()
                }
            });
        });
    });
</script>