<%= form_for(@rule, remote: true) do |f| %>
    <% if @rule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>
          <ul>
            <% @rule.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :target %><%= f.select :target, model_list, include_blank: true %>
    <%= f.label :event %><%= f.select :event, [] %>
    <%= f.label :activity_id %><%= f.select :activity_id, MessageBroker::Activity.all.collect { |activity| [activity.name, activity.id] },
                                            {include_blank: false} %>
    <%= f.submit 'Add Rule' %>
<% end %>
<script>

    $(document).ready(function () {
        return $("#rule_target").on("change", function () {
            return $.ajax({
                url: "<%= dashboard_resource_events_url %>",
                type: "GET",
                dataType: "script",
                data: {
                    ar_classname: $('#rule_target option:selected').val()
                }
            });
        });
    });
</script>