<tr id="tr_<%= rule.id %>">
  <td>do <%= rule.activity.name %> on <%= rule.target %> before <%= rule.event %>on the lapse of 2
  minutes. <%= link_to "Destroy", rule, method: :delete, remote: true %><br/></td>
</tr>