<li id="rule_<%= rule.id %>">do <%= rule.activity.name %> on <%= rule.target %> <%= rule.callback_duration %>
  <%= rule.event %> on the lapse of 2 minutes. <%= link_to "Destroy", rule, method: :delete, remote: true %>
</li>