<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to('MessageBroker', root_path, class: 'navbar-brand') %>
      <ul class="nav navbar-nav">
        <li class="<%= active_class(rules_path) %>"><%= link_to('Rules', rules_path) %></li>
        <li class="<%= active_class(activities_path) %>"><%= link_to('Activities', activities_path) %></li>
      </ul>
    </div>
  </div>
</nav>
