<!DOCTYPE html>
<html>
<head>

  <title>MessageBroker Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "message_broker/application", media: "all" %>
  <%= javascript_include_tag "message_broker/application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="main-container" class="container">

  <%= render :partial => "message_broker/shared/header" %>

  <div class="container">
    <%= render :partial => "message_broker/shared/flash_messages", :locals => {:flash => flash} %>
    <%= yield %>
  </div>
  <%= render :partial => "message_broker/shared/footer" %>
</div>
</body>
</html>
